/* styles.css */

body {
    padding: 1%;
}

header {
    background-color: white;
}

main {
    background-color: rgb(218, 218, 218);
}

footer {
    background-color: rgb(255, 255, 255);
}

header, main, footer {
    border: 3px solid black;
    margin: 5px;
    padding: 5px;
}